/**
 * 定义全局通用样式
 * 布局（grid）（.g-）：将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！
 * 模块（module）（.m-）：通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！
 * 元件（unit）（.u-）：通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！
 * 功能（function）（.f-）：为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！
 * 皮肤（skin）（.s-）：如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！
 * 状态（.z-）：为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{}，.m-list li.z-sel{}），具体详见命名规则的扩展相关项。
 */
html,
body {
  font-size: 100%;
  background: #fff;
  font-family: 微软雅黑;
}
body {
  font-size: 100%;
}
p {
  margin: 0;
}
ul,
label {
  margin: 0;
  padding: 0;
}
a {
  transition: 0.5s all ease;
}
a:hover {
  text-decoration: none;
}
/*--Header-Starts--*/
.header {
  background: #403f45;
}
.navigation {
  float: right;
}
.logo {
  float: left;
}
.logo a {
  display: block;
}
.logo h1 a {
  font-size: 1.1em;
  font-weight: 700;
  color: #67267a;
  margin: 0;
}
.logo h1 a:hover {
  text-decoration: none;
  color: #67267a;
  transition: 0.5s all ease;
}
ul.navig {
  padding: 0;
}
ul.navig li {
  display: inline-block;
}
ul.navig li span {
  color: #fff;
  margin: 0 15px;
  font-size: 16px;
}
ul.navig li a {
  font-size: 1.15em;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 39px 20px;
}
ul.navig li a:hover ul.navig li a:after {
  display: block;
}
ul.navig li a.active {
  background: #ffeb00;
  color: #403F45;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0px;
  }
  ul.navig li.plan:hover ul.sub-nav {
    display: none;
  }
  ul.navig {
    float: right;
    margin: 0;
    display: none;
    z-index: 999;
    position: absolute;
    width: 96%;
    text-align: center;
    top: 9.6%;
    left: 2%;
    background: rgba(255, 255, 255, 0.97);
  }
  ul.navig li {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  ul.navig li a {
    width: 100%;
    font-weight: 600;
    display: block;
    color: #403f45;
  }
  span.menu {
    display: block;
    float: right;
    margin: 16px 0px 0 0;
  }
  span.menu:before {
    content: url(../img/nav-icon.png);
    cursor: pointer;
    height: 32px;
  }
  .navigation {
    height: 60px;
    padding: 0px 0px 0em;
    margin-bottom: 0em;
  }
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffeb00;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
  color: #403F45;
}
.hvr-bounce-to-bottom:hover:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #05a6b3;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  color: white;
}
/*--Header-Ends--*/
/*--banner-starts--*/
.banner {
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  min-height: 670px;
  position: relative;
}
.banner-top {
  position: absolute;
  width: 35%;
  padding: 2em 30px;
  background: rgba(228, 232, 246, 0.56);
  top: 20.5%;
  left: 13.5%;
}
.banner-top h1 {
  font-size: 2.4em;
  font-weight: 600;
  margin: 0;
  color: #000000;
}
.banner-bottom {
  margin-top: 3%;
}
.bnr-left {
  width: 22%;
  float: left;
}
.bnr-left p {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10%;
}
.bnr-right {
  width: 78%;
  float: right;
}
.bnr-right input {
  width: 95%;
  color: #9E9E9E;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  border: none;
  -webkit-appearance: none;
}
select {
  padding: 9px 0px 9px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  color: #9E9E9E;
  background: url(../img/arrow.png) no-repeat 95.5% 58% #fff;
  outline: none;
  border: none;
  width: 95%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.bnr-one {
  margin-top: 3.3%;
}
.bnr-one:nth-child(1) {
  margin-top: 0;
}
.date {
  background: url(../img/date-icon.png) no-repeat 95.5% 45% #fff;
  cursor: pointer;
}
.bnr-btn {
  margin: 5% 0 0 22.2%;
}
.bnr-btn input[type=submit] {
  color: #403F45;
  padding: 7px 13px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  background: #ffeb00;
  outline: none;
}
.bnr-btn input[type=submit]:hover {
  background: #403F45;
  color: #fff;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
/*--banner-end--*/
/*--introduce-start--*/
.introduce {
  padding: 6em 0px;
}
.introduce-top {
  text-align: center;
}
.introduce-top p {
  margin: 3px auto 0;
  font-size: 19px;
  line-height: 1.6em;
  color: #999;
  width: 80%;
  text-transform: uppercase;
}
.introduce-top h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: #146eb4;
  margin: 0;
  text-transform: uppercase;
}
.introduce-bottom {
  margin-top: 4%;
}
.introduce-left {
  text-align: center;
}
.introduce-left span {
  background: url(../img/w-sprit.png) no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.introduce-left span.w-one {
  background-position: 0px 0px;
}
.introduce-left span.w-two {
  background-position: -100px 0px;
}
.introduce-left span.w-tre {
  background-position: -200px 0px;
}
.introduce-left p {
  margin-top: 1%;
  font-size: 15px;
  line-height: 1.6em;
  color: #AFAFAF;
}
.introduce-left p label {
  font-weight: 700;
  color: #6A6A6A;
}
/*--introduce-end--*/
/*--touch-start--*/
.touch-top {
  text-align: center;
}
.touch-top h3 {
  color: #fff;
}
.touch-bottom {
  margin-top: 2%;
  text-align: center;
}
.touch-bottom p {
  color: #fff;
  font-size: 15px;
}
.touch-bottom h6 {
  color: #fff;
  font-size: 20px;
  margin: 10px 0px;
}
.touch-bottom ul {
  padding: 0;
  margin: 2% 0 0 0;
}
.touch-bottom ul li {
  list-style: none;
  display: inline-block;
  margin: 0 3px;
}
.touch-bottom ul li a span {
  background: url(../images/social-icons.png) no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}
.touch-bottom ul li a span:hover {
  transform: rotatey(360deg);
  transition: 0.5s all ease;
}
/*--touch-end--*/
/*--footer-start--*/
.footer {
  padding: 4em 0px;
  background: #403f45;
}
.footer-top {
  text-align: center;
  margin-top: 2.5%;
}
.footer-top p {
  color: #fff;
  font-size: 15px;
}
.footer-top p a {
  color: #fff;
}
.footer-top p a:hover {
  color: #ffeb00;
}
/*--footer-end--*/
/*--media-quaries-starts-here--*/
@media (max-width: 1440px) {
  .banner {
    min-height: 635px;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 5em 0px;
  }
  .banner-top {
    left: 10%;
  }
  .test {
    padding-bottom: 5em;
  }
}
@media (max-width: 1366px) {
  .banner-top {
    left: 8%;
    width: 37%;
  }
}
@media (max-width: 1280px) {
  .logo a img {
    width: 95%;
  }
  .contact-bottom {
    margin-top: 3%;
  }
  .map iframe {
    height: 350px;
  }
  .about-bottom {
    margin-top: 1%;
  }
  .submit-btn input[type=submit] {
    font-size: 18px;
  }
  .about-btm {
    margin-top: 3%;
  }
  ul.navig li a {
    padding: 35px 20px;
  }
  .banner-top h1 {
    font-size: 2.2em;
  }
  .banner {
    min-height: 600px;
  }
  .banner-top {
    left: 4%;
    width: 38%;
  }
  .heading h3,
  h3.ghj {
    font-size: 2.4em;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 4em 0px;
  }
  .why-bottom {
    margin-top: 3%;
  }
  .test {
    padding-bottom: 4em;
  }
}
@media (max-width: 1024px) {
  .logo a img {
    width: 87%;
  }
  ul.navig li a {
    padding: 30px 20px;
    font-size: 1.05em;
  }
  .contact-bottom input:nth-child(2) {
    margin: 0px 5px;
  }
  .contact-bottom input {
    font-size: 15px;
    padding: 12px 10px;
  }
  .contact-bottom textarea {
    font-size: 15px;
  }
  .map iframe {
    height: 300px;
  }
  .banner-top h1 {
    font-size: 2.1em;
  }
  .bnr-right input {
    width: 99%;
    padding: 6px 10px;
  }
  select {
    padding: 6px 0px 6px 10px;
    width: 99%;
  }
  .banner-top {
    padding: 1.8em 30px;
    top: 18.5%;
  }
  .banner {
    min-height: 510px;
  }
  .heading h3,
  h3.ghj {
    font-size: 2.2em;
  }
  .why-top p {
    font-size: 18px;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 3.5em 0px;
  }
  .why-left p {
    margin-top: 0%;
  }
  .how-right p {
    width: 94%;
  }
  .secure-left h4 {
    font-size: 1.35em;
  }
  .test-left h4 {
    font-size: 1.1em;
  }
  .flex-direction-nav .flex-next {
    left: 94.3%;
  }
  .n-right h4 {
    font-size: 1.25em;
  }
  .event-btm h4 {
    font-size: 17px;
    padding: 12px 18px;
  }
  .event-btm {
    top: 25%;
    left: 23%;
  }
  .news-bottom {
    margin-top: 3%;
  }
  .events-bottom {
    margin-top: 3%;
  }
  .footer {
    padding: 3em 0px;
  }
  .test {
    padding-bottom: 3.5em;
  }
  .add-left ul li a {
    font-size: 14px;
  }
  .add-left p {
    font-size: 14px;
  }
  .add-left h4 {
    font-size: 1.2em;
  }
  .additional-bottom {
    margin-top: 2%;
  }
  .special-left p {
    font-size: 14px;
  }
  .special {
    min-height: 260px;
  }
  .special-main {
    margin-top: 9.5%;
  }
  .services-one h4 {
    font-size: 1.2em;
  }
  .services-one p {
    margin-top: 1%;
    font-size: 14px;
  }
  .services-one ul li a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .n-left {
    width: 23%;
  }
  .services-one img {
    width: 100%;
  }
  .contact-bottom input:nth-child(2) {
    margin: 0px 3px;
  }
  .contact-bottom input,
  .contact-bottom textarea {
    font-size: 14px;
    padding: 8px 10px;
  }
  .contact-bottom textarea {
    height: 11.7em;
  }
  .submit-btn input[type=submit] {
    font-size: 16px;
  }
  .map iframe {
    height: 260px;
  }
  .services-left {
    width: 50%;
    float: left;
  }
  .special-left {
    width: 50%;
    float: left;
    padding: 0 7px;
  }
  .add-left ul {
    margin: 1.5% 0 0 0;
  }
  .add-left p {
    margin-top: 1.5%;
  }
  .about-left img,
  .about-right img {
    width: 100%;
  }
  .add-left {
    margin-bottom: 3%;
  }
  .add-left:nth-child(3) {
    margin-bottom: 0%;
  }
  .about-bottom p {
    font-size: 14px;
  }
  .about-left,
  .about-right {
    width: 50%;
    float: left;
  }
  ul.navig li a {
    padding: 19px 20px;
    font-size: 15px;
  }
  .banner-top h1 {
    font-size: 1.7em;
  }
  .bnr-left p {
    font-size: 13px;
  }
  .banner-top {
    left: 2.5%;
    width: 50%;
    padding: 1.8em 28px;
    top: 14.5%;
  }
  .bnr-btn input[type=submit] {
    padding: 6px 11px;
    font-size: 13px;
  }
  select {
    font-size: 13px;
  }
  .logo a img {
    width: 80%;
  }
  .banner {
    min-height: 430px;
  }
  .why-left {
    width: 33.3%;
    float: left;
  }
  .why-left p,
  .how-right p {
    font-size: 14px;
  }
  .why-left span {
    width: 80px;
    height: 80px;
    background-size: 300%;
  }
  .why-left span.w-two {
    background-position: -80px 0px;
  }
  .why-left span.w-tre {
    background-position: -160px 0px;
  }
  .heading h3,
  h3.ghj {
    font-size: 2em;
  }
  .why-top p {
    font-size: 16px;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 3em 0px;
  }
  .how-left {
    width: 50%;
    float: left;
  }
  .how-right {
    width: 50%;
    float: right;
  }
  .how-right p {
    width: 100%;
    margin-top: 3%;
  }
  .h-btn a {
    font-size: 13px;
    padding: 5px 25px;
  }
  .h-btn {
    margin-top: 7%;
  }
  .secure-left h4 {
    font-size: 1.2em;
  }
  .secure-left {
    width: 33.3%;
    float: left;
    padding: 0 8px;
  }
  .test-left {
    width: 33.3%;
    float: left;
    padding: 0 5px;
  }
  .secure-left p {
    font-size: 14px;
  }
  .flexslider {
    padding: 0 !important;
  }
  .test-left p {
    font-size: 14px;
  }
  .test-left h4 {
    font-size: 1em;
  }
  .news-left {
    width: 50%;
    float: left;
  }
  .n-right h4 {
    font-size: 1.1em;
  }
  .n-right p {
    font-size: 14px;
  }
  .events-main {
    width: 33.3%;
    float: left;
    padding: 0 10px;
  }
  .event-btm h4 {
    font-size: 13px;
    padding: 9px 10px;
  }
  .events-left p {
    font-size: 14px;
  }
  .event-btm {
    top: 24%;
    left: 27%;
  }
  .test-left img {
    width: 50%;
  }
  .footer {
    padding: 2.5em 0px;
  }
  .touch-bottom p {
    font-size: 14px;
  }
  .touch-bottom h6 {
    font-size: 19px;
    margin: 7px 0px;
  }
  .footer-top p {
    font-size: 14px;
  }
  .test {
    padding-bottom: 3em;
  }
  .label {
    font-size: 67%;
  }
  .headdings,
  .Buttons,
  .progress-bars,
  .alerts,
  .bread-crumbs,
  .pagenatin,
  .appearance,
  .distracted {
    padding: 1em 0;
  }
}
@media (max-width: 640px) {
  .logo a img {
    width: 65%;
  }
  .label {
    font-size: 56%;
  }
  .about-left,
  .about-right {
    padding: 0 10px;
  }
  .contact-bottom input {
    width: 32.53%;
  }
  .submit-btn input[type=submit] {
    margin: 7px 0 0 0px;
  }
  .services-one h4 {
    font-size: 1.1em;
  }
  span.menu {
    margin: 14px 0px 0 0;
  }
  .submit-btn input[type=submit] {
    font-size: 15px;
  }
  .map iframe {
    height: 230px;
  }
  .services-one ul li a {
    font-size: 13px;
  }
  .services-one p {
    margin-top: 1.5%;
    font-size: 13px;
  }
  .services-left {
    padding: 0 10px;
  }
  .special-left p {
    font-size: 13px;
  }
  .special {
    min-height: 230px;
  }
  .special-main {
    margin-top: 8%;
  }
  .add-left h4 {
    font-size: 1.1em;
  }
  .add-left ul li a {
    font-size: 13px;
  }
  .add-left p {
    font-size: 13px;
  }
  .header {
    padding: 5px 0px;
  }
  .banner-top h1 {
    font-size: 1.5em;
  }
  .bnr-left p {
    font-size: 11px;
  }
  .banner-top {
    left: 2%;
    width: 50%;
    padding: 1em 20px 1.2em 20px;
    top: 12%;
  }
  .bnr-right input {
    padding: 3px 10px;
  }
  select {
    font-size: 12px;
    padding: 3px 0px 3px 10px;
  }
  .bnr-btn input[type=submit] {
    padding: 5px 9px;
    font-size: 11px;
  }
  .banner {
    min-height: 315px;
  }
  .heading h3,
  h3.ghj {
    font-size: 1.65em;
  }
  .why-top p {
    font-size: 14px;
    margin: 2px auto 0;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 2.5em 0px;
  }
  .why-left {
    width: 100%;
    float: none;
    margin-bottom: 1.5em;
  }
  .why-left:nth-child(3) {
    margin-bottom: 0;
  }
  .how-left,
  .how-right {
    width: 100%;
    float: none;
    text-align: center;
  }
  .how-right {
    margin-top: 3.5%;
  }
  .secure-left {
    width: 100%;
    float: none;
    margin-bottom: 2.5%;
  }
  .secure-left p {
    margin-top: 1.5%;
  }
  .h-btn {
    margin-top: 4%;
  }
  .how-right p {
    margin-top: 2%;
  }
  .test-left p {
    font-size: 12px;
  }
  .test-left h4 {
    font-size: 15px;
    margin: 8px 0 0 0;
  }
  .test {
    padding-bottom: 2.5em;
  }
  .n-right h4 {
    font-size: 1em;
  }
  .news-left {
    width: 100%;
    float: none;
    margin-bottom: 3.5%;
  }
  .news-left:nth-child(2) {
    margin-bottom: 0;
  }
  .n-right p {
    margin-top: 1.5%;
  }
  .events-main {
    width: 100%;
    float: none;
    margin-bottom: 3%;
  }
  .events-main:nth-child(3) {
    margin-bottom: 0;
  }
  .events-left {
    text-align: center;
  }
  .events-left img {
    width: 45%;
  }
  .event-btm {
    top: 31%;
    left: 41%;
  }
  .events-left p {
    margin-top: 2%;
  }
  ul.navig li a {
    padding: 13px 20px;
    font-size: 14px;
  }
  ul.navig {
    top: 8.4%;
  }
  h3.ghj {
    margin: 0 0 13px 0;
  }
}
@media (max-width: 480px) {
  .logo a img {
    width: 60%;
  }
  ul.navig {
    top: 7.5%;
  }
  h1.head {
    font-size: 28px;
  }
  h2.head {
    font-size: 26px;
  }
  .label {
    font-size: 39%;
  }
  .headdings,
  .Buttons,
  .progress-bars,
  .alerts,
  .bread-crumbs,
  .pagenatin,
  .appearance,
  .distracted {
    padding: 7px 0;
  }
  .header {
    padding: 0px 0px;
  }
  .contact-bottom input {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact-bottom input:nth-child(2) {
    margin: 0px 0px 10px 0px;
  }
  .contact-bottom textarea {
    height: 10.7em;
    margin-top: 0;
  }
  .map iframe {
    height: 195px;
  }
  .contact-bottom input,
  .contact-bottom textarea {
    font-size: 13px;
    padding: 7px 10px;
  }
  .banner-top h1 {
    font-size: 1.3em;
  }
  .about-bottom p {
    font-size: 13px;
  }
  .services-left {
    width: 100%;
  }
  .services-left:nth-child(2) {
    margin-top: 3%;
  }
  .special-left {
    width: 100%;
  }
  .special-left:nth-child(2) {
    margin-top: 3%;
  }
  .special-main {
    margin-top: 9.5%;
  }
  .special {
    min-height: 200px;
  }
  .bnr-right {
    width: 73%;
  }
  .bnr-left {
    width: 27%;
  }
  .banner-top {
    left: 3%;
    width: 65%;
    padding: 13px 12px 1em 12px;
    top: 11%;
  }
  .bnr-btn {
    margin: 5% 0 0 30%;
  }
  .bnr-one {
    margin-top: 3%;
  }
  .date {
    background: url(../images/date-icon.png) no-repeat 95.5% 50% #fff;
    background-size: 7%;
  }
  select {
    background-size: 6%;
  }
  .banner {
    min-height: 298px;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 2em 0px;
  }
  .why-top p {
    font-size: 13px;
    margin: 1px auto 0;
  }
  .why-left span {
    width: 70px;
    height: 70px;
  }
  .why-left span.w-two {
    background-position: -70px 0px;
  }
  .why-left span.w-tre {
    background-position: -140px 0px;
  }
  .why-left p {
    font-size: 13px;
  }
  .heading h3,
  h3.ghj {
    font-size: 1.4em;
  }
  .how-right p {
    font-size: 13px;
  }
  .secure-left h4 {
    font-size: 1em;
  }
  .secure-left p {
    margin-top: 1%;
    font-size: 13px;
  }
  .test-left p {
    font-size: 11px;
  }
  .test-left h4 {
    font-size: 14px;
  }
  .n-right h4 {
    font-size: 15px;
  }
  .n-right p {
    margin-top: 1%;
    font-size: 13px;
  }
  .events-left img {
    width: 55%;
  }
  .event-btm h4 {
    font-size: 12px;
    padding: 6px 10px;
  }
  .event-btm {
    top: 31%;
    left: 38%;
  }
  .events-left p {
    font-size: 13px;
  }
  .footer {
    padding: 2em 0px;
  }
  .touch-bottom p {
    font-size: 13px;
  }
  .touch-bottom h6 {
    font-size: 17px;
    margin: 4px 0px;
  }
  .footer-top p {
    font-size: 13px;
  }
  .touch-bottom ul li a span {
    width: 28px;
    height: 28px;
    background-size: 300%;
  }
  .touch-bottom ul li a span.google:hover {
    background-position: -56px -28px;
  }
  .touch-bottom ul li a span.google {
    background-position: -56px 0px;
  }
  .touch-bottom ul li a span.fb:hover {
    background-position: 0px -28px;
  }
  .touch-bottom ul li a span.twit {
    background-position: -28px 0px;
  }
  .touch-bottom ul li a span.twit:hover {
    background-position: -28px -28px;
  }
  .pagination {
    margin: 13px 0;
  }
}
@media (max-width: 320px) {
  .logo a img {
    width: 50%;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 7px 12px;
    font-size: 15px;
  }
  .well {
    padding: 19px;
    margin-bottom: 13px;
    font-size: 13px;
  }
  .secure-left p {
    margin-top: 2%;
  }
  .alert {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .test-left {
    width: 100%;
    padding: 0;
    margin-bottom: 6.5%;
  }
  .test-left:nth-child(3) {
    margin-bottom: 0%;
  }
  .navigation {
    height: 53px;
  }
  span.menu {
    margin: 11px 0px 0 0;
  }
  ul.navig {
    top: 11%;
  }
  ul.navig li a {
    padding: 9px 20px;
    font-size: 12px;
  }
  .banner-top h1 {
    font-size: 1.1em;
  }
  .banner-top {
    left: 10%;
    width: 80%;
    padding: 10px 9px 12px 9px;
    top: 11%;
  }
  select {
    font-size: 11px;
    padding: 3px 0px 3px 4px;
  }
  .bnr-btn {
    margin: 3.5% 0 0 27.4%;
  }
  .bnr-btn input[type=submit] {
    padding: 4px 9px;
    font-size: 10px;
  }
  .banner {
    min-height: 260px;
  }
  .heading h3,
  h3.ghj {
    font-size: 1.3em;
  }
  .why-top p {
    margin: 0px auto 0;
  }
  .why,
  .how,
  .secure,
  .news,
  .events,
  .about,
  .services,
  .additional,
  .pages,
  .contact {
    padding: 1.5em 0px;
  }
  .why-left span {
    width: 55px;
    height: 55px;
  }
  .why-left span.w-two {
    background-position: -55px 0px;
  }
  .why-left {
    margin-bottom: 12px;
    padding: 0;
  }
  .why-left span.w-tre {
    background-position: -110px 0px;
  }
  .how-left,
  .how-right {
    padding: 0;
  }
  .h-btn a {
    font-size: 12px;
    padding: 4px 18px;
  }
  .secure-left h4 {
    font-size: 15px;
  }
  .secure-left {
    margin-bottom: 4%;
    padding: 0;
  }
  .news-bottom {
    margin-top: 5%;
  }
  .n-left,
  .n-right {
    width: 100%;
    float: none;
    text-align: center;
  }
  .n-left img {
    width: 40%;
  }
  .n-right {
    margin-top: 3.5%;
  }
  .news-left {
    margin-bottom: 4.5%;
  }
  .events-left img {
    width: 85%;
  }
  .event-btm {
    top: 27%;
    left: 32%;
  }
  .events-main {
    margin-bottom: 4%;
  }
  #toTop {
    width: 35px;
    height: 18px;
    background-size: 100%;
  }
  .footer {
    padding: 1.5em 0px;
  }
  .touch-bottom {
    margin-top: 4%;
  }
  .footer-top {
    margin-top: 4.5%;
  }
  .touch-bottom h6 {
    margin: 6px 0px;
  }
  .events-bottom {
    margin-top: 4%;
  }
  .about-left,
  .about-right {
    width: 100%;
  }
  .about-right {
    margin-top: 4%;
  }
  .about-btm {
    margin-top: 4%;
  }
  .services-one h4 {
    font-size: 1em;
    margin: 5% 0 0 0;
  }
  .services-left {
    padding: 0;
  }
  .special {
    min-height: 230px;
  }
  .special-main {
    margin-top: 11%;
  }
  .add-left {
    padding: 0;
  }
  .additional-bottom {
    margin-top: 5%;
  }
  .add-left h4 {
    font-size: 1em;
  }
  .contact-bottom textarea {
    height: 10em;
    margin-top: 0;
  }
  .submit-btn input[type=submit] {
    font-size: 14px;
    padding: 7px 50px;
  }
  .map iframe {
    height: 175px;
  }
  h1.head {
    font-size: 22px;
  }
  h2.head {
    font-size: 19px;
  }
  h3.head {
    font-size: 16px;
  }
  h4.head {
    font-size: 15px;
  }
  h4.head {
    font-size: 14px;
  }
  .label {
    font-size: 23%;
  }
  h2.b2,
  h1.b1,
  h3.b3,
  h4.b4,
  h5.b5 {
    margin: 0px 0px;
  }
  .touch-bottom ul {
    margin: 5% 0 0 0;
  }
}
/*--media-quaries-starts-here--*/
