/* ========================================================================
   Component: Subnav
 ========================================================================== */
/*
 * 1. Remove default list style
 * 2. Remove whitespace between child elements when using `inline-block`
 */
.uk-subnav {
  /* 1 */
  padding: 0;
  list-style: none;
  /* 2 */
  font-size: 0.001px;
}
/* Items
 ========================================================================== */
/*
 * 1. Create position context for dropdowns
 * 2. Reset whitespace hack
 */
.uk-subnav > li {
  /* 1 */
  position: relative;
  /* 2 */
  font-size: 1rem;
  vertical-align: top;
}
.uk-subnav > li,
.uk-subnav > li > a,
.uk-subnav > li > span {
  display: inline-block;
}
.uk-subnav > li:nth-child(n+2) {
  margin-left: 10px;
}
/*
 * Items
 */
.uk-subnav > li > a {
  color: #07D;
}
.uk-subnav > li > a:hover {
  color: #059;
}
/*
 * Active
 */
/*
 * Disabled
 */
.uk-subnav > li > span {
  color: #999;
}
/* Modifier: 'subnav-line'
 ========================================================================== */
.uk-subnav-line > li:nth-child(n+2):before {
  content: "";
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  border-left: 1px solid #ddd;
}
/* Modifier: 'subnav-pill'
 ========================================================================== */
.uk-subnav-pill > li > a,
.uk-subnav-pill > li > span {
  padding: 3px 9px;
  text-decoration: none;
}
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */
.uk-subnav-pill > li > a:hover,
.uk-subnav-pill > li > a:focus {
  background: #eee;
  color: #444;
  /* 2 */
  outline: none;
}
/*
 * Active
 * `li` needed for higher specificity to override hover
 */
.uk-subnav-pill > li.uk-active > a {
  background: #00a8e6;
  color: #fff;
}
