<!DOCTYPE html>
<html lang="en">

<% include ./include/head.ejs %>

<body class="page-body">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

  <% include pages/sidebar.ejs%>

  <div class="main-content">
    <% include include/nav.ejs%>
    <% include pages/dashboard.ejs%>
  </div>

</div>


<div class="page-loading-overlay">
  <div class="loader-2"></div>
</div>

<!-- Bottom Scripts -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/resizeable.js"></script>
<script src="/js/joinable.js"></script>
<script src="/js/xenon-api.js"></script>
<script src="/js/xenon-toggles.js"></script>


<!-- Imported scripts on this page -->
<script src="/js/xenon-widgets.js"></script>
<script src="/js/devexpress-web-14.1/js/knockout-3.1.0.js"></script>
<script src="/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="/js/devexpress-web-14.1/js/dx.chartjs.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="/js/xenon-custom.js"></script>

</body>
</html>